@page "/profile"
@using PC_Designer.ViewModels
@using PC_Designer.Shared
@using System.Security.Claims
@inject IConfiguration config
@inject IProfileViewModel _profileViewModel
@inject NavigationManager _navigationManager

@if (_profileViewModel == null)
{
    <p>Loading...</p>
}
else
{
    <div class="card mb-3">
        <div class="col-md-8">
            <div class="row justify-content-ceter align-items-center">
                <div class="col-md-4 text-center">
                    @if(_profileViewModel.ProfilePictureData != null)
                    {
                        <img src="data:image/png;base64,@Convert.ToBase64String(_profileViewModel.ProfilePictureData)" alt="Profile picture" 
                            style="max-width: 150px; max-height: 150px; border-radius: 35%; margin-left: 50px;" class="mx-3"/>
                    }
                    else
                    {
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                            style="max-width: 150px; max-height: 150px; border-radius: 35%; margin-left: 50px;" class="mx-3" />
                    }
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">@($"{_profileViewModel.FirstName} {_profileViewModel.LastName}")</h4>
                        <p class="card-text"><strong>Email:</strong> @_profileViewModel.EmailAddress</p>
                        <button class="btn btn-link" @onclick="ToggleEditMode">Edit Profile</button>
                    </div>
                </div>
            </div>
            @if (_profileViewModel.IsEditing)
            {
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">Edit Profile</h5>
                        <EditForm Model="_profileViewModel" OnInvalidSubmit="_profileViewModel.UpdateProfile">
                            <ValidationSummary />

                            <div class="col-4">
                                <InputFile OnChange="@OnInputFileChanged" multiple accept=".png,.jpg,.jpeg" />
                            </div>

                            <div class="form-group>">
                                <label for="FirstName">First Name:</label>
                                <InputText id="FirstName" @bind-Value="_profileViewModel.FirstName" class="form-control" />
                            </div>

                            <div class="form-group>">
                                <label for="FirstName">Last Name:</label>
                                <InputText id="LastName" @bind-Value="_profileViewModel.LastName" class="form-control" />
                            </div>

                            <div class="form-group>">
                                <label for="EmailAddress">Email:</label>
                                <InputText id="EmailAddress" @bind-Value="_profileViewModel.EmailAddress" class="form-control" />
                            </div>

                            <div class="form-group>">
                                <label for="AboutMe">About Me:</label>
                                <InputText id="AboutMe" @bind-Value="_profileViewModel.AboutMe" class="form-control" />
                            </div>
                        
                        </EditForm>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <!-- ... -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Additional Information</h5>
                    @_profileViewModel.AboutMe
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Settings</h5>

                    <div class="col-12">
                        <input type="checkbox" @bind="@_profileViewModel.DarkTheme" id="chkDarkTheme">
                        <label> Dark Theme </label>    
                        <br>

                        <input type="checkbox" @bind="@_profileViewModel.Notifications" id="chkNotification">
                        <label> Notification </label>    
                        <br>   
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" @onclick="_profileViewModel.Save">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (errors.Count > 0)
{
    <h2>Errors</h2>
    <ul class="text-danger">
        @foreach (var error in errors)
        {
            <li>@error</li>
        }
    </ul>
}

@code {

    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }
    private long maxFileSize = 1024 * 1024 * 1;
    private int maxAllowedFiles = 1;
    private List<string> errors = new();

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState; // _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if(user.Identity.IsAuthenticated)
        {
            var claim = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier);
            _profileViewModel.UserId = Convert.ToInt64(claim?.Value);
            await _profileViewModel.GetProfile();
        }
        else
        {
            _navigationManager.NavigateTo("/");
        }        
    }

    private async Task OnInputFileChanged(InputFileChangeEventArgs inputFileChangeEvent)
    {
        //get the file
        var file = inputFileChangeEvent.File;

        //read that file in a byte array
        var buffer = new byte[file.Size];
        await file.OpenReadStream(1512000).ReadAsync(buffer);

        //convert byte array to base 64 string
        @* _profileViewModel.ProfilePictureUrl = $"data:image/svg;base64,{Convert.ToBase64String(buffer)}"; *@

        _profileViewModel.ProfilePictureData = buffer;

        await _profileViewModel.UpdateProfileWithImage(buffer);
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)    // Local Upload
    {
        errors.Clear();

        if (e.FileCount > maxAllowedFiles)
        {
            errors.Add($"Error: Attempting to upload {e.FileCount} files, but only {maxAllowedFiles} files are allowed.");
        }

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            string newFileName = Path.ChangeExtension(
                Path.GetRandomFileName(),
                Path.GetExtension(file.Name)
            );

            string path = Path.Combine(config.GetValue<string>("FileStorage")!, "tcorey", newFileName);

            Directory.CreateDirectory(Path.Combine(config.GetValue<string>("FileStorage")!, "tcorey"));

            await using FileStream fs = new(path, FileMode.Create);
            await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
        }
    }

    private void ToggleEditMode()
    {
        _profileViewModel.IsEditing = !_profileViewModel.IsEditing;
    }
}